/* @font-face {
  font-family: 'nyaya sans';
  src: url('../assets/nyayasans-open.ttf') format('truetype');
  font-family: 'naya sans', arial;
  src: url('../assets/NYAYASans-open.ttf');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
    font-family: 'nyaya_sansopen';
    src: url('../assets/nyayasans-open.ttf') format('truetype'),
         url('../assets/nyayasans-open-webfont.woff2') format('woff2'),
         url('../assets/nyayasans-open-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
      font-kerning: normal;

}

/* html {
  font-size: 20px;
} */


body {
  /* margin: 0; */
  /* background-color: blue; */
  background-color: SeaShell;
  font-kerning: normal;
    background-color: #011c40;
    /* color: FloralWhite; */
  line-height: 1.1;
  /* font-family: "nyaya sans"; */
  font-family: 'nyaya_sansopen';
  font-weight: 100;
  color: whitesmoke;
  font-weight: normal;
  font-style: normal;
  overscroll-behavior: none;
  /* background-image: url("../assets/nyāya-lower2.gif"); */

  -webkit-hyphens: manual;
-ms-hyphens: manual;
hyphens: manual;


}


.content {
    width: 82%;
    /* height: 80vh; */
    /* border: 1px dotted gray; */
    padding: 6%;
    margin: 3%;
  }


.gray {
  /* color: gray; */
}

.container {
  /* backdrop-filter: blur(5px); */
  /* background-color: #f2ebd5;
  opacity: 100%; */
}

/* body {
  background-color: yellow;
} */


@media (max-width: 1000px) {
  html { font-size: 100%; }
}

@media (max-width: 900px) {
  html { font-size: 90%; }
}

@media (max-width: 800px) {
  html { font-size: 80%; }
}

@media (max-width: 700px) {
  html { font-size: 70%; }
}

@media (max-width: 600px) {
  html { font-size: 60%; }
}

@media (max-width: 500px) {
  html { font-size: 50%; }
}

@media (max-width: 400px) {
  html { font-size: 40%; }
}




/* @media (max-width: 400px) {
  html { font-size: 30px; }
} */





.pull {
  margin-top: 10em;
  padding: inherit;
  font-size: 4rem;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5em;
  padding-bottom: .75em;
  /* margin-bottom: 2em; */
  color: #f2ebd5;
  background-color: #d9043d;
  z-index: 100;
  position: relative;
}

.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  width: 100%;
  height: 23px;
  background-color: #011c40 color: white;
  font-family: sans-serif;
  padding-right: 30px;
  padding-top: 5px;
  text-align: right;
  z-index: 1000;
}

.nav_text {
  text-align: right;
  padding-right: 10px;
  mous
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: overline;
  text-decoration-thickness: 5%;
  text-decoration-position: under;
}

a:active {
  text-decoration: underline;
}

.block {
  /* margin-left: 20vw;
margin-right: 20vw;
margin-top: 10vh;
margin-bottom: 10vh; */
  width: 100%;
  margin: auto;
  height: 700px;
  /* padding: 5%; */
  z-index: 100;
  position: relative;
  /* padding: 100px; */
  background: blue;
}

.block2 {
  /* margin-left: 20vw;
margin-right: 20vw;
margin-top: 10vh;
margin-bottom: 10vh; */
  width: 60vw;
  margin: auto;
  height: 700px;
  /* padding: 5%; */
  z-index: -10;
  position: relative;
  /* padding: 100px; */
  /* margin-top: 100px; */
  background: #011c40
}

.block3 {
  /* margin-left: 20vw;
margin-right: 20vw;
margin-top: 10vh;
margin-bottom: 10vh; */
  width: 100%;
  margin: auto;
  height: 700px;
  /* padding: 5%; */
  z-index: 1000;
  position: relative;
  /* padding: 100px; */
  margin-top: 100px;
  background: white;
}

.contact {
  padding-top: 99vh;
  font-size: 66px;
  position: relative;
  background-color: #011c40;
  color: white;
  text-align: center;
  z-index: -10;
  position: relative;
  padding-bottom: 8vh;
  /* margin-bottom: -120px; */
}

.center {
  margin: 0;
  position: fixed;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  /* font-size: 30vw; */
  font-size: 20rem;
  color: #d9043d;

  font-kerning: normal;

}

.heading {
  text-align: center;
  /* margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px; */
  position: fixed;
  /* top: 50px; */
  /* left: 13vw; */
  /* margin: auto; */
  /* left: 50%; */
  /* position: fixed; */
  /* left: 20vw; */
  font-size: 30vw;
  color: #d9043d;
  z-index: 10;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  /* background-color: blue; */
  /* padding-bottom: 10px; */
  /* margin-bottom: 100px; */
  height: 200px;
  font-size: 3em;
  position: relative;
  text-align: center;
  margin: auto;
  line-height: .95em;
}

.bodytext {
  font-size: 4rem;
  overflow: scroll;
  /* padding: 10px; */
  padding-top: 90vh;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  padding-bottom: 100px;
  /* margin-left: 10%;
  margin-right: 10%; */
  z-index: 100;
  position: relative;
}

.centered {
  font-size: 8rem;
  position: relative;
  text-align: center;
  /* margin: auto; */
  line-height: .95em;
}
